body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

header{
background:#020617;
padding:15px;
}

#results{
display:grid;
grid-template-columns:repeat(auto-fill,200px);
gap:20px;
padding:20px;
}

.card{
background:#1e293b;
padding:10px;
cursor:pointer;
}

.card img{
width:100%;
}

#reader img{
width:100%;
margin-bottom:10px;
}